<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>NuvlaBox Local Dashboard - Peripherals</title>
    <link rel="icon" href="/static/imgs/nb_favicon.png" />
    <script src="/static/js/popper.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js" type="text/javascript"></script>
    <script src="/static/js/bootstrap.min.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/all.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">

</head>
<body class="fixed-nav bg-dark text-light" id="page-top">
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top rounded-bottom" id="mainNav">
    <a class="navbar-brand" href="/"><img src="/static/imgs/nuvlabox_logo.png"/></a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav nav-pills" id="exampleAccordion">
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                <a class="nav-link" href="/">
                    <i class="fas fa-chart-area"></i>
                    <span class="nav-link-text">Dashboard</span>
                </a>
            </li>
            <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Logs">
                <a class="nav-link" href="/dashboard/logs">
                    <i class="fas fa-list"></i>
                    <span class="nav-link-text">Logs</span>
                </a>
            </li>
            <li class="nav-item pill-active" data-toggle="tooltip" data-placement="right" title="Peripherals">
                <a class="nav-link active" href="/dashboard/peripherals">
                    <i class="fas fa-project-diagram"></i>
                    <span class="nav-link-text">Peripherals</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<!---->

<!--BUG: Bootstrap does not collapse dynamically created divs -->
<!--Using jQuery...-->
{% if peripherals is defined and peripherals %}
    <div class="accordion m-5" id="accordionPer">
        {% for per in peripherals %}
        <div class="card mt-2 card-no-border">
            <div class="card-header peripheral-card" id="h{{ loop.index }}">
                <div class="row mx-auto align-items-center justify-content-between" >
                    <div class="col-7 text-left">
                        <i class="{{ per['font-awesome'] }}"></i>
                        <button onclick="fakeToggle('#{{ loop.index }}')" class="btn btn-link text-light font-weight-bold" type="button" data-toggle="collapse" data-target="#{{ loop.index }}" aria-expanded="true" aria-controls="{{ loop.index }}">
                            {{ per["product"] }}, {{ per["vendor"] }}
                        </button>
                    </div>
                    <div class="col-3 text-right font-italic">
                        <span class="mr-1">Availability</span>
                        {% if per["available"] %}
                        <i class="fas fa-circle" style="color: #65ff00;"></i>
                        {% else %}
                        <i class="fas fa-circle text-danger" style="color: #65ff00;"></i>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>

        <div id="{{ loop.index }}" class="collapse bg-light text-dark " aria-labelledby="h{{ loop.index }}" data-parent="#accordionPer">
            <div class="card-body">

                <table class="table table-striped">
                    <tbody>
                    <tr>
                        <th scope="row">Nuvla ID</th>
                        <td>{{ per['id'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Interface</th>
                        <td>{{ per['interface'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Classes</th>
                        <td>{{ per['classes'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Identifier</th>
                        <td>{{ per['identifier'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Product Name</th>
                        <td>{{ per['product'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Vendor</th>
                        <td>{{ per['vendor'] }}</td>
                    </tr>
                    <tr>
                        <th scope="row">Device Path</th>
                        <td>{{ per['device-path'] }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    <div class="alert alert-primary m-2" role="alert">
        The NuvlaBox has not yet detected any peripherals!
    </div>
{% endif %}


<script>
    function fakeToggle(element) {
        var $target = $(element);
        $target.collapse('toggle')
    }
</script>

<!---->


<footer class="card-footer font-small text-dark">
    <div class="container">
        <div class="text-center bg-light fixed-bottom">
            <small>© 2020, SixSq Sàrl</small>
        </div>
    </div>
</footer>

</body>

</html>

